.contact-us-wrapper {
    padding-top: 50px; /* Add padding from the top */
    background: linear-gradient(to bottom, rgba(155, 103, 101, 0.9), rgba(185, 120, 76, 0.9)); /* Darker gradient */
    min-height: 100vh; /* Full height */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start */
  }
  
  .contact-us-container {
    padding: 20px;
    max-width: 500px; /* Make the container smaller */
    width: 100%;
    background: linear-gradient(to right, rgb(185, 120, 76), rgb(185, 120, 76), #9a6765);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Slightly darker shadow for depth */
  }
  
  .contact-us-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    color: #374151; /* Darker text for contrast */
  }
  
  .contact-us-description {
    text-align: center;
    margin-bottom: 20px;
    color: #555; /* Slightly lighter gray */
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* Light background for input fields */
    transition: border-color 0.3s;
  }
  
  .input-field:focus {
    border-color: #4A90E2; /* Focus color */
    outline: none;
  }
  
  .submit-button {
    padding: 10px;
    background-color: #4A90E2; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #357ABD; /* Button hover color */
  }
  